<html>
<head>
    <link href="~/estilos.css" rel="stylesheet" />
    <title>Neat Burguer</title>
</head>
<body>
    <header>
        <nav>
            <a asp-controller="home" href="index.html">Principal</a>
            <a asp-controller="home" href="promociones.html">Promociones</a>
            <a asp-controller="home" href="menu3.html">Menú</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>